#compte_a_rebours {
    font-family: Arial;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-color: transparent;
    color: black;
    text-align: center;
    width: 80vw;
    padding: 0 5px 10px 5px;
  }

  .prefixe {
    font-weight: bold;
  }

  .block, .nb {
    display: inline-block;
  }

  .block {
    width: 10vw;
    border-right: solid 1px black;
  }

  .block:nth-child(6) {
    border-right: solid 1px transparent;
  }

  .nb {
    font-size: 3em;
    font-weight: bold;
  }

  @media screen and (max-width: 650px) {
      .nb {
        font-size: 2em;
      }
      .block {
        width: 20vw;
      }
    
}
@media screen and (max-width: 500px) {

      .nb {
        font-size: 3em;
      }
      
    
}