#premierePage{
    display: flex;
    background-image: url(../img/fleurpremiere.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}

.blocBlanc{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9));
    border-radius: 3px;
    width: 80vw;
    height: 55vh;
    min-height: 400px;
}


.blocBlanc h1{
    color:black;
    font-size: 34px;
    opacity: 0.7;
}


